.header-banner{
    text-align: center;
	background-color: #FFD37A;
	padding: 20px;
	padding-top: 10px;
    transition-duration: .2s;
}

#header-banner-close{
	text-align: end;
}

#header-banner-close-button{
    cursor: pointer;
    text-decoration: none;
}

#header-banner-link{
	text-decoration: underline;
    color: black;
}
