@font-face {
    font-family: "avenir";
    src: url("../fonts/AvenirLTStd-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/AvenirLTStd-Light.otf") format("opentype"), /* Open Type Font */
        url("../fonts/AvenirLTStd-Light.svg") format("svg"), /* Legacy iOS */
        url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/AvenirLTStd-Light.woff") format("woff"), /* Modern Browsers */
        url("../fonts/AvenirLTStd-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "avenir";
    src: url("../fonts/AvenirLTStd-Book.eot"); /* IE9 Compat Modes */
    src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/AvenirLTStd-Book.otf") format("opentype"), /* Open Type Font */
        url("../fonts/AvenirLTStd-Book.svg") format("svg"), /* Legacy iOS */
        url("../fonts/AvenirLTStd-Book.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/AvenirLTStd-Book.woff") format("woff"), /* Modern Browsers */
        url("../fonts/AvenirLTStd-Book.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "avenir";
    src: url("../fonts/AvenirLTStd-Medium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/AvenirLTStd-Medium.otf") format("opentype"), /* Open Type Font */
        url("../fonts/AvenirLTStd-Medium.svg") format("svg"), /* Legacy iOS */
        url("../fonts/AvenirLTStd-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/AvenirLTStd-Medium.woff") format("woff"), /* Modern Browsers */
        url("../fonts/AvenirLTStd-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "avenir";
    src: url("../fonts/AvenirLTStd-Heavy.eot"); /* IE9 Compat Modes */
    src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/AvenirLTStd-Heavy.otf") format("opentype"), /* Open Type Font */
        url("../fonts/AvenirLTStd-Heavy.svg") format("svg"), /* Legacy iOS */
        url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), /* Modern Browsers */
        url("../fonts/AvenirLTStd-Heavy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "avenir";
    src: url("../fonts/AvenirLTStd-Black.eot"); /* IE9 Compat Modes */
    src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/AvenirLTStd-Black.otf") format("opentype"), /* Open Type Font */
        url("../fonts/AvenirLTStd-Black.svg") format("svg"), /* Legacy iOS */
        url("../fonts/AvenirLTStd-Black.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../fonts/AvenirLTStd-Black.woff") format("woff"), /* Modern Browsers */
        url("../fonts/AvenirLTStd-Black.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
}