/* Responsive Style Sheet */

/* click5 Interactive */

@media only screen and (max-width: 1350px) {
    #services .row:nth-child(even) .text {
        padding: 65px 55px 45px 0;
    }
    #services .row:nth-child(odd) .text {
        padding: 65px 0 45px 55px;
    }
	 .button-call button{
        font-size: 12px;
        padding: 12px 8px;
    }
	
}

@media only screen and (max-width: 1200px) {
    #nav>ul>li {
        padding: 5px 30px 5px 0;
    }
    #nav ul li a{
        font-size: 15px;
    }
    .button-call button img{
        display: none;
    }
    .button-call button{
        font-size: 10px;
        padding: 12px 20px;
    }
    .button-call{
        padding-left: 0;
        margin-left: 10px;
        border: none;
    }
    #about h2 {
        padding-right: 30px;
    }
	#hero{
		height:400px;
	}
	#faqbox .card-title {
    color: white;
    font-size: 22px;
}
.doctors-item img{
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

#hero p {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
    line-height: 30px;
    font-family: "Montserrat";
    padding: 10px 0;
    padding-bottom: 0px;
}
#hero img{
	    width: 204px;
}
#hero #hero_text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    padding-right: 60px;
    padding-top: 0px;
    /* letter-spacing: 0px; */
}
#hero #hero_quote {
    font-size: 16px;
    line-height: 15px;
    font-weight: 600;
    padding-right: 60px;
    padding-top: 4px;
}
#hero .col-lg-12{
	   margin-top: 90px;
}
	
}

@media only screen and (max-width: 991px) {
    #nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .hidden-lg{
        display: none !important;
    }
    .logo{
        max-width: 170px;
    }
    header{
        padding: 12px 0;
    }
    header.sticky{
        padding: 12px 0;
    }
    header.sticky .logo{
        max-width: 170px;
    }
    #main-banners .item.white{
        border-radius: 5px 5px 0 0;
    }
    #main-banners .item.green{
        border-radius: 0 0 5px 5px;
    }
    #main-banners .item.white a.main-link{
        background-position: 114% center;
        background-size: 190px;
    }
    #main-banners .item.green a.main-link{
        background-position: 15px 10px;
        background-size: 135px;
    }
    #about .text-right{
        padding-left: 0;
    }
    #services .row:nth-child(odd) .text{
        padding-left: 0;
    }
    #services .row:nth-child(even) .text {
        padding-right: 0;
    }
    #services .section:before{
        display: none;
    }
    #services .photo{
        height: 350px;
    }
    #services .section {
        padding: 0 0 20px 0;
    }
    #why{
        padding: 85px 0 50px 0;
        min-height: 375px;
    }
    #why h2{
        font-size: 30px;
    }
    #why h2 small{
        font-size: 90%;
    }
    #why-items{
        margin-top: -110px;
    }
    #why-items .item:before{
        display: none;
    }
    #why-items .item:nth-child(1){
        border-radius: 8px 8px 0 0;
    }
    #why-items .item:nth-child(1):after {
        border-radius: 0;
    }
    #why-items .item:nth-child(3){
        border-radius: 0 0 8px 8px;
    }
    #why-items .item:nth-child(3):after{
        border-radius: 0 0 8px 8px;
    }
    #information {
        padding: 50px 0 110px 0;
    }
    #contact .item{
        margin-bottom: 60px;
    }
    #contact{
        padding-bottom: 0;
    }
    #subpage-content:before{
        display: none;
    }
    #e-book {
        padding: 50px 0 0 0;
    }
    #sidebar-area #main-banners .banners-container {
        margin-top: 40px;
    }
    #content-sub{
        padding: 45px 20px 30px 20px;
    }
    .hero-sub.schedule{
        padding: 60px 0 0;
    }
    #contact-sticky a{
        /*width: 50px;
        height: 50px;*/
    }
    #contact-sticky img {
        width: 25px;
    }
    #contact-sticky{
      right: 5px;
    bottom: 50px;
    padding: 11px;
    }
    #contact-sticky2{
        left: 5px;
    bottom: 50px; 
    padding: 11px;

    }
	#faqbox .card-body {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 28px 29px rgba(174, 174, 174, 0.1878);
    border-radius: 4px;
    padding: 20px;
    max-height: 235px;
}


    #faqbox .card-body h3{
	font-size: 16px;
}
.doctors-item img{
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

#hero p {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
    line-height: 30px;
    font-family: "Montserrat";
    padding: 10px 0;
    padding-bottom: 0px;
}
#hero img{
	    width: 204px;
}
#hero #hero_text {
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
    padding-right: 60px;
    padding-top: 0px;
    /* letter-spacing: 0px; */
}
#hero #hero_quote {
    font-size: 16px;
    line-height: 15px;
    font-weight: 600;
    padding-right: 60px;
    padding-top: 4px;
}
#hero .col-lg-12{
	    margin-top: 49px;
}


      
}

@media only screen and (max-width: 767px) {
    p, ul li, ol li{
        font-size: 15px;
    }
    h4{
        font-size: 18px;
    }
    h3{
        font-size: 22px;
    }
    h2{
        font-size: 30px;
    }
    h1{
        font-size: 35px;
    }
    .section{
        padding: 65px 0;
    }
    .contact-info{
        padding-top: 30px;
    }
    #footer ul{
        margin-top: 20px;
    }
    .entry{
        padding-bottom: 35px;
    }
    #hero{
        min-height: 350px;
    }
    #hero h1{
        font-size: 45px;
        line-height: normal;
        letter-spacing: -3px;
        text-shadow: 5px 5px 20px rgba(0,0,0,0.35);
    }
     #hero p{
        font-size: 45px;
        line-height: normal;
        letter-spacing: -3px;
        text-shadow: 5px 5px 20px rgba(0,0,0,0.35);
    }
    .logo-foot{
        padding-top: 25px;
    }
    .hero-sub{
        height: auto;
        padding: 35px 0 30px 0;
    }
    .hero-sub h1{
        font-size: 35px;
        letter-spacing: -1px;
    }
    .hero-sub.schedule{
        height: auto;
        padding: 70px 0 30px;
    }
    .hero-sub.schedule h1{
        font-size: 30px;
        line-height: 40px;
    }
    .hero-sub.schedule p{
        font-size: 19px;
    }
    .doctors-item{
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
                flex: 0 0 50%;
        max-width: 50%;
    }
    #faqbox .card-body h3{
	font-size: 20px;
}
.doctors-item img{
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

	#hero p {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
    line-height: 30px;
    font-family: "Montserrat";
    padding: 10px 0;
    padding-bottom: 0px;
}
#hero img{
	    width: 204px;
}
#hero #hero_text {
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
    padding-right: 60px;
    padding-top: 0px;
    /* letter-spacing: 0px; */
}
#hero #hero_quote {
    font-size: 16px;
    line-height: 15px;
    font-weight: 600;
    padding-right: 60px;
    padding-top: 4px;
}
#hero .col-lg-12{
	    margin-top: 49px;
}
}

@media only screen and (max-width: 576px) {
	header, header.sticky {
		padding: 14px 0;
	}
	.logo {margin-right:70px;}
	#nav>ul>li {display:none;}
    #main-banners .item a{
        padding: 30px 15px;
    }
    #hero h1{
        font-size: 40px;
    }
    #hero p{
        font-size: 40px;
    }
    #main-banners .item.white a {
        background-position: 124% center;
        background-size: 150px;
    }
    #main-banners .item.green a {
        background-position: -15px 10px;
        background-size: 105px;
    }
    #main-banners h3{
        font-size: 20px;
    }
    #about h2 {
        padding-right: 0;
        font-size: 25px;
        line-height: 40px;
    }
    #about h2 strong{
        letter-spacing: -1px;
    }
    .section {
        padding: 60px 0;
    }
    #services .photo {
        height: 250px;
    }
    #why-items .item{
        padding: 50px 20px 25px 25px;
    }
    #information .film:before{
        display: none;
    }
    #information .film:after{
        right: 0;
    }
    #information {
        padding: 50px 0 70px 0;
    }
    #testimonials {
        padding: 50px 0 45px 0;
    }
    #cta h3{
        text-align: center;
        line-height: normal;
    }
    #cta button{
        margin: 0;
        font-size: 16px;
        margin-top: 20px;
        padding: 16px 19px;
    }
    #contact .item {
        margin-bottom: 50px;
    }
    blockquote{
        padding: 30px 20px;
    }
    blockquote::after{
        display: none;
    }
    blockquote::before{
        width: 175px;
        height: 50%;
    }
    .hero-sub.schedule p{
        font-size: 15px;
        text-align: left;
        line-height: 24px;
    }
    #schedule .form-wrapper .item{
        margin-top: 0;
        padding: 30px 20px;
    }
	#header_schedule{
	display:none;
	}
	#header_phone{
	display:block;
	}
	#contact-sticky{
    right: 5px;
    bottom: 30px;
    width: 43%;
    
    padding: 4px;
    }
    #contact-sticky2{
    left: 5px;
    bottom: 30px;
    width: 40%;
    
    padding: 11px;
    
}
#faqbox .card-body h3{
	font-size: 25px;
}
.doctors-item img{
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}
.page-template-locations .hero-sub{
	background-image: none !important;
	    height: 295px;
}
.page-template-locations .hero-sub h1{
	width:100% !important;
}
	#homebox{
		font-size:24px !important;
	}
	#about h1{
	color: #333; font-size: 26px; line-height: 50px; padding-right: 0px;
}

#hero .col-lg-12{
	    margin-top: 0px;
}
}
@media only screen and (max-width: 479px) {
		.logo {margin-right:70px;}
	#nav>ul>li{display:none;}
      #contact-sticky{
      right: 5px;
    bottom: 30px;
    width: 43%;
    
    height: 60px;
    padding: 4px;
    }
    #contact-sticky2{
        left: 5px;
    bottom: 30px;
    width: 40%;
 
    height: 60px;
    padding: 11px;
    
    }
      #faqbox .card-body h3{
	font-size: 25px;
}
.doctors-template-default .entry img{
	
	max-width: 100%;
    height: auto;
    width: 100%;
    padding: 15px;
    }
	#homebox{
		font-size:24px !important;
	}
#about h1{
	color: #333; font-size: 26px; line-height: 50px; padding-right: 0px;
	}
.page-id-4 #hero p{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
    line-height: 70px;
    font-family: "Montserrat";
    padding: 10px 0;
    padding-bottom: 0px;
    text-align: left;
    }
 .page-id-773 #hero p{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
    line-height: 70px;
    font-family: "Montserrat";
    padding: 10px 0;
    padding-bottom: 0px;
    text-align: center;
    }
    
#hero #hero_text{
   font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    padding-right: 0px;
    padding-top: 0px;
    letter-spacing: -1px;
    text-align: left;
    }
#hero #hero_quote{
  font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding-right: 0px;
    padding-top: 6px;
    letter-spacing: -1px;
    text-align: left;
}
#hero img{
    width: 100%;
}		
#hero{
	background-image: url('/wp-content/uploads/2019/07/sub-hero-orchid1-1-1024x340.png')
}	
.hero-sub {
    height: auto;
    padding: 35px 0 30px 0;
    background-image: none !important;
}
}

@media only screen and (max-width: 370px) {
		.logo {margin-right:70px;}
	#nav>ul>li {display:none;}
	#homebox {
    font-size: 19px !important;
	}
	#contact-sticky2 {
    
    font-size: 14px;
}

#contact-sticky {
   
    font-size: 14px;
}


	}

/* @media only screen and (min-width: 768px) {
	.hero-sub h1 {
		width: 55%;
	}
} */