/*
Theme Name: EON Clinics
Theme URI: https://www.click5interactive.com/
Description: EON Clinics WordPress Theme
Version: 2.9
Author: EM Search Consulting, LLC.
Author URI: https://www.EMSearchConsulting.com/
*/

/* Elements */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 1;
}

/* Header */

header {
    font-family: "Montserrat";
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: #fff;
    color: #fff;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s; 
}

.logo {
    width: 100%;
    max-width: 230px;
    -webkit-transition: all 0.3s;
    -webkit-transition: max-width 0.3s;
    transition: max-width 0.3s;
    will-change: transition;
}

header.sticky{
    padding:5px;
}

header.sticky .logo{
    max-width: 200px;
}
#header_schedule{
	display:block;
}
#header_phone{
	display:none;
}
/* Nav */

#nav p {
    font-size: 1rem;
    color: #142b4e;
}

#nav p i {
    color: #40d02a;
    margin: 0 15px;
}

#nav ul {
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#nav ul li {
    position: static;
    padding: 0 13px;
    background: none;
}
#nav>ul>li{
    padding: 10px;
}

#nav ul li:before{
    display: none;
}

#nav ul li a {
    position: relative;
    display: block;
    margin: 0px;
    color: #142b4e;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
    /*text-transform: capitalize;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#menu-main-navigation > li > a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background: #9cc849;
    background: -webkit-gradient(linear, left top, right top, from(#9cc849),to(#4aaba2));
    background: linear-gradient(to right, #9cc849 0%,#4aaba2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc849', endColorstr='#4aaba2',GradientType=1 );
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

#menu-main-navigation > li.current-menu-item > a:after,
#menu-main-navigation > li.current-menu-ancestor > a:after,
#menu-main-navigation li a:hover:after{
    width: 100%;
}

/* #menu-main-navigation li.menu-item-has-children{
    padding-right: 30px;
} */

/* #menu-main-navigation > li.menu-item-has-children > a:before{
    content: '\f078';
    font-family: 'FontAwesome';
    position: absolute;
    right: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 45%;
} */

#menu-main-navigation li.blue-btn > a{
    background-color: #2136b0;
    padding: 12px 30px;
    border-radius: 50px;
    line-height: 1;
}

#menu-main-navigation li.blue-btn a:after{
    display: none;
}

#menu-main-navigation li.blue-btn.menu-item-has-children{
    padding-right: 15px;
}

#menu-main-navigation li.blue-btn.menu-item-has-children > a{
    padding-right: 45px;
}

#menu-main-navigation li.blue-btn.menu-item-has-children > a:before{
    right: 30px;
}

.button-call{
    padding-left: 20px;
    margin-left: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.button-call a{
    text-decoration: none;
}

.button-call button{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding: 12px 30px;
	    border-radius: 4px;
}

.button-call button img{
    width: 18px;
    height: auto;
    margin-right: 10px;
}

/* Drop-Down Menu */

#nav li ul {
    position: absolute;
    left: -999em;
    height: auto;
    margin: 0;
    opacity: 0;
    z-index: 999;
    width: 250px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(51, 51, 51, 0.1);
    box-shadow: 0px 8px 16px 0px rgba(51, 51, 51, 0.1);
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px
}

#nav>ul>li>ul li:first-child{
    padding-top: 5px;
}

#nav>ul>li>ul li:last-child{
    padding-bottom: 5px;
}


#nav>ul>li>ul:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ffffff transparent;
}

#nav>ul>li>ul>li>ul:before{
    content: '';
    position: absolute;
    top: 20px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent #bbbbbb transparent transparent;
    z-index: 99;
}

#menu-main-navigation li.blue-btn ul{
    margin-left: 10px;
}

#nav li:hover ul {
    opacity: 1;
}

#nav li ul li {
    padding-left: 0;
    padding-right: 0;
}

#nav li ul li:last-child{
    border-radius: 0 0 5px 5px;
}

#nav li ul li a {
    position: relative;
    
}

#nav li ul li a,
#nav li.current-menu-item ul li a,
#nav li.sfHover ul li a {
    background: none;
    width: 250px;
    height: auto;
    margin: 0;
    color: #000;
    font-weight: 400;
    padding: 11px 10px 8px 15px;
    font-size: 15px;
   /* text-transform: capitalize;*/
    line-height: 20px;
    text-align: left;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#nav li ul li:last-child a {
    border: none;
}

#nav li ul li.sub-nav a,
#nav li.current-menu-item ul li.sub-nav a,
#nav li.sfHover ul li.sub-nav a {
    color: #afbd21;
}

#nav li ul li a:hover,
#nav li.current-menu-item ul li a:hover {
    color: #9cc849;
}

#nav ul li.current-menu-item ul li a {
    text-decoration: none !important;
}

#nav li.current-menu-parent ul li a {
    text-decoration: none;
}

#nav li ul ul {
    margin: -40px 0 0 250px;
}

#nav li ul ul li a {
    border-bottom: 0;
}

#nav li ul ul li a:hover {
    border-bottom: 0;
}

#nav li:hover,
#nav li.sfHover {
    position: static;
}

#nav li:hover ul ul,
#nav li.sfHover ul ul,
#nav li:hover ul ul ul,
#nav li.sfHover ul ul ul,
#nav li:hover ul ul ul ul,
#nav li.sfHover ul ul ul ul {
    left: -999em;
}

#nav li:hover ul,
#nav li.sfHover ul,
#nav li li:hover ul,
#nav li li.sfHover ul,
#nav li li li:hover ul,
#nav li li li.sfHover ul,
#nav li li li li:hover ul,
#nav li li li li.sfHover ul {
    left: auto;
}

/* Mobile Nav */

#select-nav {
    display: none;
}

/* Hero */

#hero{
    /*background-image: url(images/hero-image.jpg);*/
    background-image: url(/wp-content/uploads/2019/05/sub-hero-orchid1-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(50vh + 100px);
    padding: 100px 0;
}

#hero h1{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -5px;
    padding-top: 50px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
}

#hero h1 strong{
    font-weight: 700;
}

#hero p{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -5px;
    padding-top: 50px;
    text-shadow: 2px 2px 25px rgba(0,0,0,0.2);
    line-height: 70px;
     font-family: "Montserrat";
         padding: 10px 0;
}

#hero p strong{
    font-weight: 700;
        font-family: "Montserrat";
}

.hero-sub {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 15%;
    height: 435px;
    padding: 40px 0 125px 0;
    background-color: #4daba3;
}

.hero-sub h1{
    color: #fff;
    font-family: 'Montserrat';
    font-size: 45px;
    line-height: 50px;
     font-weight: 400;
    letter-spacing: -2px;
}

.hero-sub.schedule{
    background: none;
    background: #4aaba2;
    /*background: -webkit-gradient(linear, left top, right top, from(#9cc849),to(#4aaba2));
    background: linear-gradient(to right, #9cc849 0%,#4aaba2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc849', endColorstr='#4aaba2',GradientType=1 );*/
    height: auto;
    min-height: 420px;
    padding: 40px 0 110px 0;
}

.hero-sub.schedule h1{
    font-size: 40px;
    letter-spacing: -1px;
}

.hero-sub.schedule p{
    font-size: 24px;
    line-height: 35px;
    color: #fff;
}

#main-banners{
    padding: 0;
}

#main-banners .banners-container{
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: -65px;
}

#main-banners .item{
    background-color: #fff;
}

#main-banners .item a{
    text-decoration: none;
}

#main-banners .item a.main-link{
    padding: 45px 15px;
    width: 100%;
    text-decoration: none;
}

#main-banners .item h3{
    font-weight: 400;
}

#main-banners .item.white a.main-link{
	/* emsc.mm1    background-image: url('./images/icon-call.png'); */
    /* background-image: url('./images/circle-phone-trans.png');*/	
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 190px;
}

#main-banners .item.green{
    color: #fff;
    background: #4aaba2;
/*    background: -webkit-gradient(linear, left top, right top, from(#4aaba2),to(#9cc849));
    background: linear-gradient(to right, #4aaba2 0%,#9cc849 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaba2', endColorstr='#9cc849',GradientType=1 ); emsc.mm1 */
    background: #fc6600;
}

#main-banners .item.green a.main-link{
    /*background-image: url('./images/icon-schedule.png'); emsc.mm1 */
    background-repeat: no-repeat;
    background-position: 55px 20px;
    background-size: 105px;
}

#main-banners .item.green h3{
    color: #fff;
}

#main-banners .item:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#main-banners .item:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#main-banners .item.white span.sign{
    font-size: 80%;
    color: #98c74d;
}

#main-banners .item.green span.sign{
    font-size: 80%;
}

#contact-sticky{
   /* position: fixed;
    display: none;
    right: 20px;
    bottom: 20px;
    color: #fff;
    background: #4aaba2;
    background: -webkit-gradient(linear, left top, right top, from(#4aaba2),to(#9cc849));
    background: linear-gradient(to right, #4aaba2 0%,#9cc849 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaba2', endColorstr='#9cc849',GradientType=1 );
    border-radius: 50%;
    z-index: 50;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
	    background: #fc6600;*/
	
	position: fixed;
    display: none;
    right: 20px;
    bottom: 30px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaba2', endColorstr='#9cc849',GradientType=1 );
    /* border-radius: 0%; */
    z-index: 99999;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    background: #fc6600;
	border-radius: 4px;

}

#contact-sticky a{
    display: block;
    text-align: center;
    padding: 10px;
   /* width: 60px;
    height: 60px;*/
	text-decoration:none;
}

#contact-sticky img{
    width: 31px;
    height: auto;
}



#contact-sticky2 {

	position: fixed;
    display: none ;
    left: 20px;
    bottom: 30px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaba2', endColorstr='#9cc849',GradientType=1 );
    /* border-radius: 0%; */
    z-index: 99999;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    background: #4daba3;
	border-radius: 4px;

}

#contact-sticky2 a{
    display: block;
    text-align: center;
    padding: 10px;
   /* width: 60px;
    height: 60px;*/
	text-decoration:none;
}

#contact-sticky2 img{
    width: 31px;
    height: auto;
}


/* Content */

.fullwidthbanner-container {
    width: 100%;
    float: left;
}

.text-center,
.text-center h1,
.text-center h2,
.text-center h3,
.text-center h4,
.text-center p {
    text-align: center !important;
}

.section {
    position: relative;
    width: 100%;
    float: left;
    padding: 80px 0;
}

#subpage-content {
    position: relative;
    padding: 0 0 60px 0;
    background-color: #f5f7f9;
}

#subpage-content:before {
    content: '';
    position: absolute;
    width: 50%;
    height: calc(100% - 60px);
    top: 0;
    left: 0;
    background-color: #fff;
}

@media (min-width: 992px){
    #subpage-content .col-lg-3{
        -ms-flex: 0 0 30%;
        -webkit-box-flex: 0;
                flex: 0 0 30%;
        max-width: 30%;
    }
    
    #subpage-content .col-lg-9{
        -ms-flex: 0 0 70%;
        -webkit-box-flex: 0;
                flex: 0 0 70%;
        max-width: 70%;
    }
}

#content-sub {
    background-color: #fff;
    padding: 45px 55px 60px 0;
}

.entry img {
    max-width: 100%;
    height: auto;
}

.entry h1, .entry h2, .entry h3, .entry h4{
    line-height: normal;
    /*color: #5eb28c;*/
    color: #fc6600;
}

.entry h1 strong, .entry h2 strong, .entry h3 strong, .entry h4 strong{
    color: #1b304e;
    font-weight: 700;
}

blockquote{
    position: relative;
    padding: 40px 60px;
    margin: 30px 0;
    background-color: #f5f7f9;
}
blockquote p{
    font-family: "Roboto";
	font-size: 25px;
	font-weight:300;
	letter-spacing:0;
	line-height:42px;
	text-align: left;
	padding-bottom: 20px;
}
blockquote::before {
    content: '';
    position: absolute;
    width: 225px;
    height: 80%;
    max-height: 210px;
    right: 0;
    top: 0;
    /*background-image: url(./images/rings.png);*/
    background-repeat: no-repeat;
    background-size: 135%;
    background-position: left bottom;
}

blockquote::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 80px;
    left: 55px;
    top: 0;
    background-image: url(./images/quote.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

blockquote > *{
    position: relative;
    z-index: 1;
}
blockquote #name::before{
	content: '';
    position: absolute;
    left: 0;
    width: 117px;
    height: 7px;
    background-color: #4daba3;
    top: 1px;
}
blockquote span{
	font-weight:700;
	
}
blockquote #name{
	font-weight:700;
	color:black;
	font-size: 28px;
}
blockquote #review{
	font-size: 28px;
	font-weight:300;
}
blockquote strong{
	font-weight:700;
	color:#fc6600;
}
#sidebar-area{
    background-color: #f5f7f9;
}

#sidebar-nav ul{
    padding: 0;
    margin: 0 0 40px 0;
}

#sidebar-nav ul li:before{
    left: auto;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #548c33;
}

#sidebar-nav ul li{
    padding-left: 40px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

#sidebar-nav ul li a{
    font-size: 16px;
    color: #5d5d5d;
    text-decoration: none;
    padding: 11px 0;
    display: block;
    border-top: 1px solid #eaeaea;
}

#sidebar-nav ul li:last-child a{
    border-bottom: 1px solid #eaeaea;
}

#sidebar-nav ul li.current-menu-item, #sidebar-nav ul li:hover{
    background-color: #fff;
}

#sidebar-nav ul li.current-menu-item a.main-link{
    color: #548c33;
    font-weight: 500;
}

#sidebar-area #main-banners .item a{
    text-decoration: none;
}

#sidebar-area #main-banners .item.green a.main-link {
    background-position: 82% 110%;
    background-size: 100px;
}

#sidebar-area #main-banners .item.white a.main-link {
    background-image: url('./images/phone-banner.png');
    background-position: 82% 110%;
    background-size: 100px;
}

#sidebar-area #main-banners .item h3{
    font-size: 24px;
    line-height: 27px;
}

#sidebar-area #main-banners .item a.main-link{
    padding: 28px 15px 28px 35px;
}

#sidebar-area #main-banners .banners-container{
    margin-top: -80px;
}

#sidebar-area #main-banners .item.white strong{
    font-size: 30px;
    color: #1b304e;
    line-height: normal;
}

#sidebar-area #main-banners .item.white span.sign{
    font-size: 80%;
    color: #98c74d;
}

#sidebar-area #main-banners .item.green span.sign{
    font-size: 80%;
}

#sidebar-area #main-banners .item.green{
    border-radius: 5px 5px 0 0;
}

#sidebar-area #main-banners .item.white{
    border-radius: 0 0 5px 5px;
}

#e-book{
    padding: 50px 0 50px 50px;
}

#e-book img{
    width: 100%;
    max-width: 205px;
}

#e-book h4{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 30px;
}

#e-book p{
    color: #373737;
    font-size: 16px;
    padding-bottom: 20px;
}

hr {
    width: 100%;
    float: left;
    border-top: 1px solid #f0f6f6;
}

hr.big{
    border-top: 8px solid #f0f6f6;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat";
    padding: 10px 0;
    color: #221e3f;
    font-weight: 400;
    letter-spacing: -1px;
}


h1 {
    font-size: 45px;
    line-height: 70px;
}

h2 {
    color: #333;
    font-size: 35px;
    line-height: 50px;
}

h3 {
    font-size: 27px;
}

h3.section-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

h4 {
    font-size: 21px;
    line-height: 27px;
}

p {
    padding: 10px 0;
    color: #221e3f;
    font-size: 17px;
    line-height: 29px;
    font-weight: 300;
    text-align: justify;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3px;
        border-radius: 4px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 39px;
    line-height: 1;
    border: 0;
    color: #fff;
/* emsc.mm1    background: #9cc849;
    background: -webkit-gradient(linear, left top, right top, from(#9cc849),to(#4aaba2));
    background: linear-gradient(to right, #9cc849 0%,#4aaba2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc849', endColorstr='#4aaba2',GradientType=1 ); */
    background: #fc6600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #777;
}

ol,
ul {
    list-style: none;
}

ul {
    margin: 0;
    padding: 20px 0;
}

ul li {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    line-height: 29px;
    margin: 0;
    padding: 0 0 15px 40px;
    text-align: left;
    list-style: none;
}

ul li:before{
    content: '\02022';
    color: #98c74d;
    position: absolute;
    left: 0;
    top: 5px;
    line-height: normal;
}

ul li a{
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
    font-weight: 400;
}

ol {
    margin: 0;
    padding: 15px 0 15px 30px;
    list-style-type: decimal;
}

ol li {
    list-style-type: decimal;
    font-size: 17px;
    font-weight: 300;
    line-height: 29px;
    margin: 0;
    padding: 0 0 0 15px;
    text-align: left;
}

p.more{
    font-family: 'Montserrat';
    padding-left: 30px;
    margin: 15px 0;
        padding-left: 0;
}

p.more a {
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 0;
    border-radius: 4px;

    background: #fc6600;
}



/*p.more a {
    position: relative;
    display: inline-block;
    color: #221e3f;
    padding: 0;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 0;
}

p.more a:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    border-radius: 25px;
    z-index: -1;
}

p.more a:hover:after {
    width: calc(100% + 60px);
}

p.more a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: #221e3f;
}*/

p.link{
    font-family: 'Montserrat';
    margin: 10px 0;
}

p.link a {
    position: relative;
    display: inline-block;
    color: #221e3f;
    padding: 0;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

p.link a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: #221e3f;
}

/* submenu */

.submenu {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.submenu h5 {
    margin: 10px 0 5px 0;
}

.submenu ul {
    width: 100%;
    padding: 0;
}

.submenu ul li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.submenu ul li {
    background-position: left 18px;
}

.submenu ul li a {
    padding: 9px 0 9px 23px;
    display: block;
}

.submenu ul li.current_page_item {
    background-color: #eee;
}

/* submenu 2 */

.submenu2 ul li {
    border: none;
    margin: 0;
    padding: 0;
}

.submenu2 ul li.current_page_item li,
.submenu2 ul li.current-page-ancestor li {
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.submenu2 ul li a {
    display: none;
}

.submenu2 ul li.current_page_item li a,
.submenu2 ul li.current-page-ancestor li a {
    display: block;
    padding: 9px 0 9px 23px;
}

.submenu2 .sub-menu {
    visibility: visible !important;
    display: block !important;
}

.submenu2 ul li.current_page_item {
    background-color: #fff;
}

.submenu2 ul li li.current_page_item {
    background-color: #eee;
}

/* About */

#about h2{
    padding-right: 120px;
}

#about h2 strong{
    position: relative;
    font-weight: 700;
    letter-spacing: -2px;
}

#about h2 strong:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #9cc849;
    background: -webkit-gradient(linear, left top, right top, from(#9cc849),to(#4aaba2));
    background: linear-gradient(to right, #9cc849 0%,#4aaba2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc849', endColorstr='#4aaba2',GradientType=1 );
}

#about p{
    text-align: left;
}

#about .text-right{
    padding-left: 55px;
}

/* Services */

#services .section{
    padding: 0 0 100px 0;
}

#services .section:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('./images/abstract-line.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
#services_less .section{
    padding: 0 0 100px 0;
}

#services_less .section:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('./images/abstract-line.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

@media only screen and (min-width: 1350px){
    #services .row {
        margin-left: -100px;
        margin-right: -100px;
    }
    #services_less .row {
        margin-left: -100px;
        margin-right: -100px;
    }
}

#services .photo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#services .row:nth-child(odd) .text{
    padding: 65px 100px 45px 55px;
}

#services .row:nth-child(even) .text{
    padding: 65px 55px 45px 100px;
}

#services .text p{
    text-align: left;
    color: #373737;
}

#services .text h3{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#services .text h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 4px;
    background-color: #5fb987;
}

/* Why */

#why{
    padding: 185px 0 50px 0;
    min-height: 645px;
    background-image: url('./images/why-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#why h2{
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -2px;
}

#why h2 small{
    font-size: 40px;
    font-weight: 400;
    display: block;
}

#why-items{
    padding: 0;
    margin-top: -200px;
}

#why-items .item{
    position: relative;
    background-color: #fff;
    padding: 50px 30px 25px 40px;
}

#why-items .row{
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

#why-items .item:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
}

#why-items .item:nth-child(1):after{
    background-color: #99c74c;
    border-bottom-left-radius: 8px;
}

#why-items .item:nth-child(2):after{
    background-color: #73b976;
}

#why-items .item:nth-child(3):after{
    background-color: #2f978c;
    border-bottom-right-radius: 8px;
}

#why-items .item:nth-child(1){
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#why-items .item:nth-child(3){
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#why-items .item:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 90%;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: rgba(0,0,0,0.08);
}

#why-items .item:last-child:before{
    display: none;
}

#why-items .item img{
    width: auto;
    max-height: 60px;
    margin-bottom: 20px;
}

#why-items .item h4{
/* emsc.mm1    font-size: 20px;
    color: #373737;
    font-weight: 600;
    letter-spacing: 0;*/
    font-family: 'Montserrat',sans-serif;
    font-size: 28px;
    color: #2f978c;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 29px;
}

#why-items .item p{
    text-align: left;
}

/* Information */

#information{
    padding: 130px 0 110px 0;
}

#information .film img{
    width: 100%;
    -webkit-box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 11px 25px 0px rgba(0, 0, 0, 0.15);
}
#information .less-text{
	width: 80%;
}
#information .film span{
    position: relative;
    display: block;
    cursor: pointer;
}

#information .film span:after{
    content: '\f16a';
    font-family: 'FontAwesome';
    position: absolute;
    color: #fff;
    font-size: 85px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#information .film{
    position: relative;
}

#information .film:before{
    content: '';
    position: absolute;
    width: 320px;
    height: 320px;
    top: -45px;
    left: -70px;
    background-image: url('./images/rings.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    opacity: 0.55;
    z-index: -1;
}

#information .film:after{
    content: '';
    position: absolute;
    width: 275px;
    height: 275px;
    right: 20px;
    bottom: -40px;
    background-image: url('./images/rings.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    opacity: 0.8;
    z-index: -1;
}

.modal-video-close-btn{
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.modal-video-close-btn:before, .modal-video-close-btn:after{
    margin-top: -3px;
}

/* Doctors */

.doctors-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
#dp .doctors-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    /* flex: 0 0 25%; */
    /* max-width: 25%; */
    padding: 0 15px;
    margin-bottom: 30px;
    width: 25%;
}
.doctors-item{
  -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    /* flex: 0 0 25%; */
    /* max-width: 25%; */
    padding: 0 15px;
    margin-bottom: 30px;
    width: 50%;
}

.doctors-item a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.doctors-item img{
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

.doctors-item h4{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: #5eb28c;
}

/* Testimonials */

#testimonials{
   background-color: #f3f8f8;
   padding: 80px 0 45px 0;
}

.testimonial {
    padding: 160px 15px 40px 15px;
}

.testimonial .description {
    background: #fff;
    border-radius: 4px;
    padding: 0 35px 20px 35px;
    position: relative;
    -webkit-box-shadow: 0px 21px 25px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 21px 25px 0px rgba(0, 0, 0, 0.08);
    min-height: 245px;
}

.testimonial .description::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 80px;
    right: 0;
    bottom: 0;
    background-image: url(./images/rings.png);
    background-repeat: no-repeat;
    background-size: 145%;
    background-position: left top;
}

.testimonial .description p{
    color: #373737;
    font-size: 16px;
    line-height: 23px;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #97c64f;
    border: 1px solid #97c64f;
}

.owl-theme .owl-controls .owl-page span {
    background: #fff;
    border: 1px solid #c6cece;
    opacity: 1;
}

.client-photo img{
    width: 175px;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border-radius: 50%;
    border: 6px solid #fff;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    margin-top: -120px;
}

.testimonial .description button{
    font-weight: 400;
    text-transform: capitalize;
}

.testimonial .description button i{
    color: #fff;
    margin-right: 10px;
}

/* CTA */

#cta{
    background-color: #1f3c70;
    padding: 35px 0;
}

#cta h3{
    font-weight: 400;
    color: #fff;
}

#cta button{
    background: none;
    border: 1px solid rgba(255,255,255,0.6);
    margin-left: 25px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

/* Locations */

#locations{
    padding: 65px 0;
}

#locations p{
    color: #373737;
    text-align: left;
    padding: 0;
}

#locations i{
    color: #60a758;
    margin: 3px 10px 0 0;
}

#locations p strong{
    color: #60a758;
}

#locations .item{
    margin-top: 60px;
    padding-right: 50px;
}

#locations h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.location-info{
    /*margin-bottom: 20px;*/
}

.location-info i{
    color: #5eb28c;
    margin: 13px 20px 0 0;
}

.location-info a{
    text-decoration: none;
    font-weight: 600;
    color: #5eb28c;
    font-size: 22px;
}
.location-info p {
    text-decoration: none;
    font-weight: 600;
    color: #5eb28c;
    font-size: 22px;
}
.location-info strong h3{
	color: #1b304e;
    font-weight: 700;
}
#location-block{
	    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 12px;
    margin-bottom: 15px;
}

/* Schedule */

#schedule{
    padding: 50px 0;
    background-color: #fbfbfb;
}

#schedule h3{
    color: #1f3c70;
    font-weight: 500;
}

#schedule img{
    margin: 30px 0;
    padding-right: 50px;
}

#schedule .form-wrapper .item{
    position: relative;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    margin-top: -90px;
}

#schedule .form-wrapper .item::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 70px;
    left: 0;
    bottom: 0;
    background-image: url(./images/rings.png);
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: right top;
}

#schedule .form-wrapper .item::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 315px;
    right: 0;
    top: 0;
    background-image: url(./images/rings-light.png);
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: left bottom;
}

.form-label{
    position: absolute;
    top: -5px;
    left: 24px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #fff;
    padding: 0 10px;
    z-index: 99;
    color: #8c8c8c;
}

#schedule label.full{
      color: #787575;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    /* padding: 0 0 10px 18px; */
    padding: 10px;
}

#schedule input{
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin: 0 0 20px 0;
}

#schedule input.wpcf7-submit{
    border-radius: 50px;
    width: 270px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}

#schedule textarea{
    height: 150px;
}

#schedule ul li:before{
    content: '\f00c';
    font-family: 'FontAwesome';
}

/* Blog */

#news .photo{
    position: relative;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 0;
}

#news .photo img {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
}

#news .txt {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 0;
}

#news .txt p.date{
    padding: 0;
    font-size: 13px;
}

#news a{
    text-decoration: none;
}

/* Post */

.post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.post h3 a {
    font-weight: 600;
    text-decoration: none;
    line-height: normal;
}

.postpublishdate{
    font-size: 13px;
}

/* Pagination */

.pagination {
    clear: both;
    display: block;
    margin: 0 0 5px 0;
    padding: 25px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.pagination a {
    margin: 2px;
    padding: 7px 12px;
    color: #989898;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    color: #fff;
    text-decoration: none;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover strong {
    color: #fff;
}

.pagination .on {
    margin: 2px;
    padding: 7px 12px;
    color: #fff;
    font-weight: 600;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Widgets */

.widget {
    border-bottom: 1px solid #ddd;
}

.widget h2 {
    font-size: 30px;
    padding: 20px 0 10px 0;
}

.widget ul {
    padding: 5px 0 15px 0;
}

.widget li {
    padding: 5px 0 10px 15px;
    text-align: left;
}

.widget li a {
    text-decoration: none;
}

.widget li a:hover {
    text-decoration: underline;
}

.widget_search {
    padding: 15px 0;
    float: left;
    margin-bottom: 20px;
}

.widget_search label {
    font-size: 30px;
    font-weight: 300;
    color: #ababab;
    display: block;
    line-height: 32px;
}

.widget_search input {
    font-size: 15px;
    font-weight: 300;
    font-family: "Open Sans";
}

.widget_search input#s {
    padding: 6px 9px;
    width: 280px;
    border: 1px solid #ddd;
    margin: 5px 0;
}

.widget_search input#searchsubmit {
    display: inline-block;
    background-color: #9d9d9d;
    padding: 9px 40px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #9d9d9d;
    text-decoration: none;
    cursor: pointer;
}

.widget_search input#searchsubmit:hover {
    background: none;
    color: #9d9d9d;
}

.tagcloud a {
    padding: 3px 0;
    display: inline-block;
}

/* Forms */

form {
    margin: 0 0 0 0px;
    padding: 0;
}

form p {
    clear: both;
    margin: 0;
    padding: 0;
}

label {
    float: left;
    width: 100%;
    margin: 0;
    padding: 3px 0 0 0;
    line-height: 18px;
}

input {
    float: left;
    width: 100%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.5px;
    padding: 16px 20px;
    margin: 0 0 10px 0;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: 12px;
    margin: 2px 10px 0 0;
}

input[type=radio] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    width: 12px;
    margin: 2px 10px 0 0;
}

input[type=submit] {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #5a91d5;
    border: none;
    cursor: pointer;
}

input.error,
input.wpcf7-not-valid {
    border: 1px solid #ec2b2b;
}

span.wpcf7-not-valid-tip {
    display: none;
}

div.wpcf7 .ajax-loader {
    display: block;
    text-align: center;
    margin: 0 auto;
}

input.wpcf7-submit {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .3px;
    border-radius: 4px;
    padding: 16px 39px;
    line-height: 1;
    border: 0;
    color: #fff;
    background-color: #1f3c70;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    margin: 10px 0;
    float: none
}

input.wpcf7-submit:hover {
    background-color: #3f609a;
}

select {
    float: left;
    width: 100%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    padding: 16px 20px;
    height: 53px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #dedede;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select {
    position: relative;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.select:after {
    content: '\f107';
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 35px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 20px;
    color: #979797;
}

textarea {
    float: left;
    width: 100%;
    max-width: 100%;
    height: 175px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: -0.5px;
    padding: 16px 20px;
    margin: 0 0 10px 0;
    border: 1px solid #dedede;
}

body input[type=text].wpcf7-not-valid,
body input[type=email].wpcf7-not-valid,
body input[type=tel].wpcf7-not-valid,
body textarea.wpcf7-not-valid {
    border: 1px solid #ec3c06 !important;
    margin-bottom: 5px;
    position: relative;
    
}

body span.wpcf7-not-valid-tip {
    display: -webkit-inline-box;
    color: #ec3c06;
    border: none;
    position: relative;
    top: -105px;
    left: auto;
    padding: 0;
    margin-top: 2px;
    background: none;
    font-size: 14px;
       
}
#e-book span.wpcf7-not-valid-tip {
    display: -webkit-inline-box;
    color: #ec3c06;
    border: none;
    position: relative;
    top: -5px;
    left: auto;
    padding: 0;
    margin-top: 2px;
    background: none;
    font-size: 14px;
       
}


body div.wpcf7-validation-errors {
    background: #ffe2e2;
    border: 1px solid #ff8a8a;
    color: #ec3c06;
}

body div.wpcf7-response-output {
    margin: 10px 0;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0px;
    font-size: 14px;
}

body .wpcf7-mail-sent-ng {
    background: #fff2e2;
    border: 1px solid #ffbc8a;
    color: #e17731;
}

body .wpcf7-mail-sent-ok {
    background: #e8ffe2;
    border: 1px solid #6fdf51;
    color: #1ea524;
}

::-webkit-input-placeholder {
    color: #8c8c8c;
    font-size: 12px;
    text-transform: uppercase;
}

::-moz-placeholder {
    color: #8c8c8c;
    font-size: 12px;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    color: #8c8c8c;
    font-size: 12px;
    text-transform: uppercase;
}

:-moz-placeholder {
    color: #8c8c8c;
    font-size: 12px;
    text-transform: uppercase;
}

/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 0;
    border: 0;
}

th,
td {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

th {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #5a91d5;
    padding: 18px 20px;
}

th i {
    color: #fff;
    margin-left: 5px;
}

td {
    font-weight: 300;
    font-size: 16px;
    color: #000;
    padding: 25px 20px;
}

tr {
    border-bottom: 1px solid #dfdfdf;
}

tr:first-child {
    border: none;
}

/* Toolbox */

.aleft {
    text-align: left;
}

.acenter {
    text-align: center;
}

.aright {
    text-align: right;
}

.fleft {
    float: left;
}

.fcenter {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.fright {
    float: right;
}

.fnone {
    float: none;
}

.cboth {
    clear: both;
}

.clear {
    clear: both;
    display: block;
    width: 100%;
}

.cleft {
    clear: left;
}

.cright {
    clear: right;
}

.nowrap {
    white-space: nowrap;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Slicknav - mobile nav */

#select-nav {
    display: none;
}

.slicknav_menu {
    background: transparent none repeat scroll 0 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.slicknav_menu.smaller-slick {
    top: 0;
}

.slicknav_nav li {
    background: none;
}

.slicknav_nav a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border: none;
}

.slicknav_nav li:last-child a {
    border: none;
}

.slicknav_btn {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 99999;
    top: 6px;
    right: 15px;
	
    background: #fc6600;
    /*background: -webkit-gradient(linear, left top, right top, from(#9cc849),to(#4aaba2));
    background: linear-gradient(to right, #9cc849 0%,#4aaba2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc849', endColorstr='#4aaba2',GradientType=1 );*/
    border-radius: 50%;
    -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.slicknav_btn.sticky, .slicknav_btn.slicknav_open{
    background: #2f978c !important;
}

.slicknav_nav ul {
    margin: 0;
}

ul.slicknav_nav li:before {
    display: none;
}

.slicknav_menu.smaller-slick .slicknav_btn {
    height: 70px;
}

.slicknav_nav {
    background-color: #8ac25c;
    padding: 70px 0 50px 0;
}

.slicknav_nav li {
    background-color: #8ac25c;
    text-align: center;
}

.slicknav_nav li a:hover,
.slicknav_nav li:hover,
.slicknav_nav li.menu-item-has-children a:hover {
    background-color: #8ac25c !important;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
    height: 2px;
    width: 22px;
}

.slicknav_nav .slicknav_arrow {
    color: #fff;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.3em;
}

.slicknav_icon-bar {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.slicknav_open .slicknav_icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 2px;
}

.slicknav_open .slicknav_icon-bar:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.slicknav_open .slicknav_icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -10px;
}
.slicknav_nav .slicknav_arrow {
    /* font-size: 0.8em; */
    /* margin: 0 0 0 0.4em; */
   	font-size: 22px;
    float: right;
}
/* Contact */

.mb-auto{
    margin-bottom: auto!important;
}

#contact{
    background-color: #fff;
    padding: 60px 0;
}

#contact h4{
    position: relative;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#contact h4:after{
    content: '';
    width: 50px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#contact p{
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    color: #373737;
}

#contact p.phone{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}

#contact p.phone a{
    text-decoration: none;
}

#contact .item:nth-child(1) p.phone{
    color: #9bc84a;
}

#contact .item:nth-child(2) p.phone{
    color: #8ac25c;
}

#contact .item:nth-child(3) p.phone{
    color: #72b977;
}

#contact .item:nth-child(4) p.phone{
    color: #5ab190;
}

#contact .item:nth-child(5) p.phone{
    color: #4baca0;
}


#contact .item:nth-child(1) h4:after{
    background-color: #9bc84a;
}

#contact .item:nth-child(2) h4:after{
    background-color: #8ac25c;
}

#contact .item:nth-child(3) h4:after{
    background-color: #72b977;
}

#contact .item:nth-child(4) h4:after{
    background-color: #5ab190;
}

#contact .item:nth-child(5) h4:after{
    background-color: #4baca0;
}

#contact p.link{
    font-family: 'Roboto', sans-serif;
    color: #b2b2b2;
    padding: 0;
    margin: 0;
}

#contact p.link a{
    color: #b2b2b2;
    font-weight: 300;
}

#contact p.link a:before{
    background-color: #b2b2b2;
    bottom: 0;
}

/* Social */

.social {
    width: auto;
    float: left;
    padding: 35px 0;
}

.social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #aabfbf;
    color: #aabfbf;
    border-radius: 50%;
    background-position: center center;

}

.social a:hover {
    opacity: 0.5;
}

.social a .fa {
    font-size: 17px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    width: 100%;
    color: #aabfbf;
}

/* Footer */

#footer {
    padding: 0 0 35px 0;
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 300;
}

.logo-foot{
    max-width: 195px;
    margin: 5px 0;
}

#footer hr:not(.big){
    margin-bottom: 25px;
}

#footer small {
    display: block;
    padding-top: 10px;
    font-size: 12px;
}

#footer a{
    text-decoration: none;
}

#footer ul{
    margin: 0;
    padding: 0;
}

#footer ul li{
    position: relative;
    float: left;
    background: none;
    padding: 0 20px;
}

#footer ul li:before{
    display: none;
}

#footer ul li:after{
    content: '|';
    position: absolute;
    right: 0;
    top: 0;
}

#footer ul li:first-child{
    padding-left: 0;
}

#footer ul li:last-child{
    padding-right: 0;
}

#footer ul li:last-child:after{
    display: none;
}

#footer ul li a{
    font-size: 14px;
}
.thanks p{
	text-align:left;
}
.thanks a{
	text-decoration:none;
}
/* Accordian */
.accordion .group{
    margin-bottom:1px
}
.accordion .group.active h4{
    background-color:#b9aa74;
    color:#fff;
}
.accordion .group.active span::before{
    background-image:url(../images/icon-minus.png)
}
.accordion .group.default .accordion-content{
    display:block
}
.accordion h4{
    position: relative;
    margin: 0;
    padding: 0 0 2px 70px;
    background-color: #f7f7f7;
    font-size: 19px;
    font-weight: 600;
    line-height: 57.96px;
    letter-spacing: .03em;
    color: #3c3c3c;
    cursor: pointer;
}


.accordion h4 span{
    position:relative;
    display:inline-block;
    line-height: 26px;
    margin: 17px;
    padding-right: 10px;
    font-size: 17px;
}
.accordion h4 span::before{
    content:'';
    position:absolute;
    top:0;
    right:100%;
    width:24px;
    height:24px;
    margin-right:32px;
    background-image:url(/wp-content/uploads/2019/05/Orange-Plus-Icon-1-e1556727796572.png)
}
.accordion .accordion-content{
    display:none;
   padding: 30px;
    font-weight: 300;
    line-height: 24px;
}
.bg{
	        background: #5eb28c8c !important;
}
.current{
	        background: #edf9f4 !important;
}
.accordion .accordion-content p{
    font-size:15px;
    line-height:25px;
    letter-spacing:.03em;
    color:#343154
}
.accordion .accordion-content ul{
    list-style-type:none
}
.accordion .accordion-content li{
    margin:0;
    padding:0;
    font-size:15px;
    line-height:25px;
    color:#343154;
    background-position: left 7px;
    padding-left: 20px !important; 
}
#faqbox{
	background: #F3F8F8;
}
#faqbox .card-title{
	color:white;
}
#faqbox .card-body{
	background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 28px 29px rgba(174, 174, 174, 0.1878);
    border-radius: 4px;
    padding: 30px;
    max-height: 235px;
}
#faqbox .card-body img{
	width:50px;
}
#faqbox .card{
	padding: 10px;
}
#faq_book h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
}
#book_strong{
	width:70%;
	
}
#faq_book strong{
	font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

}
#wpcf7-f515-o1 {
	margin-top: 20px;
}
#wpcf7-f515-o1 input {
    float: left;
    width: 100%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.5px;
    padding: 16px 20px;
    margin: 0 0 10px 0;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #d6d4d4;
}

#wpcf7-f515-o1 input[type=checkbox] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: 12px;
    margin: 2px 10px 0 0;
}

#wpcf7-f515-o1 input[type=radio] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    width: 12px;
    margin: 2px 10px 0 0;
}

#wpcf7-f515-o1 input[type=submit] {
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #5a91d5;
    border: none;
    cursor: pointer;
}

#wpcf7-f515-o1 input.error,
#wpcf7-f515-o1 input.wpcf7-not-valid {
    border: 1px solid #ec2b2b;
}

#wpcf7-f515-o1 span.wpcf7-not-valid-tip {
    display: none;
}

#wpcf7-f515-o1 div.wpcf7 .ajax-loader {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#wpcf7-f515-o1 input.wpcf7-submit {
    font-family: 'Montserrat';
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .3px;
    border-radius: 4px;
    padding: 16px 39px;
    line-height: 1;
    border: 0;
    color: #fff;
    background-color: #1f3c70;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    margin: 10px 0;
    float: none
}

#wpcf7-f515-o1 input.wpcf7-submit:hover {
    background-color: #3f609a;
}
#rates{
	margin-top: 60px;
}
#rates h1{
	 margin: 5px; 
    /* font-size: 30px; */
    line-height: 34px;
    text-align: center;
    color: #5FB987;
    font-weight: bold; 
}
#rates strong{
	    line-height: 25px;
    font-size: larger;
}
#candidate{
	padding: 185px 0 50px 0;
    min-height: 50vh;
    background-image: url(/wp-content/uploads/2019/05/Untitled-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#candidate h3{
	font-style: normal;
	font-weight: bold;
	line-height: 30px;
	color: #FFFFFF;
}
#candidate .text p{
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	color: white;

}
#candidate .inner{
	width:85%;
}
#articles .item img{
	  width: 100%;
	  height: auto;
}
#articles .item{
	  padding:10px;
}
#articles .more{
	    padding-left: 0px;
	        margin-top: 0px;
}
#articles h3{
	        border-bottom: 2px solid #80808073;
    margin: 10px;
}
#articles h4{
	    font-weight: 700;
}
#location-li button{
	width: 100%;
	background-color: #1f3c70;
}
#location-li li::before{
	content: none !important;
}
#location-li li{
	padding: 0;
}
#about h1{
	color: #333; font-size: 35px; line-height: 50px; padding-right: 120px;
}
.page-id-117 #contact-sticky{
		display:none !important;
}
.page-id-616 #contact-sticky{
		display:none !important;
} 