
/*
  Default/reusable section styles
*/
#content {
  @media(min-width: 768px) {
    section#intro {
      margin-top: 3.7rem;
    } 
  }

  @media (min-width: 1024px) {
    margin-top: 4.688rem;
  }
}

.section-container {
  position: relative;
  margin: 0 auto;
  max-width: 1410px;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (min-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.headline-colored-car {
  padding: .7rem;
  margin-bottom: 1.6rem;
}

.center-elem {
  margin: 0 auto;
}

.sect-hdr-txt {
  font-size: 2.15rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.82rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.875rem;
  }
}


.sect-hdr2-txt {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.full-width {
  width: 100%;
}

ul {
  padding-left: 1.2rem;
}

.max-690 {
  max-width: 690px;
}

.max-930 {
  max-width: 930px;
}

.max-540 {
  max-width: 540px;
}

.tablet-max-540 {
  @media (min-width: 768px) {
    max-width: 540px;
  }

  @media (min-width: 1024px) {
    max-width: none;
  }
}

.mobile-side-padding,
.laptop-side-padding,
.tablet-side-padding {
  position: relative;
}

.mobile-side-padding {
  padding-left: 5%;
  padding-right: 5%;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }  
}

.tablet-side-padding {
  @media (min-width: 768px) {
    padding-left: 15.75%;
    padding-right: 15.75%;
  }

  @media (min-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

}

@media (min-width: 1024px) {
  .laptop-side-padding {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.title {
  margin-bottom: 1.4rem;
}

.three-col-icon-desc {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    .benefit {
      width: 30%;
    }
  }

  @media (min-width: 1024px) {
    margin: 0 5.5vw;
  }
}

.col,
.right-col,
.left-col {
  box-sizing: border-box;
}

.two-col-layout,
.three-col-layout,
.three-col-infinite {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.two-col-layout {
  .left-col {
    width: 56%;
    margin-bottom: 2rem;
  }

  .right-col {
    width: 33%;
  }

  .box-shadow {
    margin-bottom: 20px;
  }

  &.one-third {
    .left-col {
      width: 33%;
    }
    .right-col {
      width: 56%;
    }
  }

  &.fifty-fifty {
    .left-col,
    .right-col {
      width: 48%;
    }
  }
}

.three-col-layout {
  .col {
    width: 30%;
  }
}

.three-col-infinite {
  flex-wrap: wrap;
  justify-content: center;

  .col {
    width: 33%;
    padding: 0 2% 3%;

    img {
      margin-bottom: 1.4rem;
    }
  }

  button.toggle-more-info {
    position: relative;
    background: #f7b700;
    color: #000;
    border-radius: 5px;
    padding: 1.3rem;
    text-transform: uppercase;
    width: 100%;
    text-align: left;

    &:after {
      content: "+";
      background: #000;
      color: #f7b700;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: .8;
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -10px;
    }

    &.active:after {
      content: "-";
    }
  }

  .more-info-box {
    display: none;
    padding: 1rem;
  }
}

.box-shadow {
  padding: 2rem 1.6rem;
  box-shadow: 6px 6px 18px 0 rgba(0,0,0,.3);
}

// sizes 
@media (min-width: 768px) {
  .threefifth {
    width: 60%;
  }

  .threequarters {
    width: 75%;
  }
}