/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}





































/*
  WORDPRESS STYLES BELOW
*/

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

body {
  font-family: 'Nunito', 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}







/*
      ICONS
*/
svg.icon {
  display: inline-block;
  fill: white;
}

.icon-calendar {
  width: 38px;
}

.icon-dots {
  width: 34px;
}

.icon-zero {
  width: 26px;
}

.more-info .icon {
  font-weight: 900;
  color: #fff;
}

.icon-chevron {
  display: block;
  margin: 0 auto;
  width: 30px;
}

.icon-chevron svg {
  width: 100%;
  fill: white;
}






body > header {
  z-index: 99999;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 58px;
}

.mobile-top {
  display: none;
}

@media (min-width: 768px) {

  body > header {
    position: fixed;
  }
}


/*
  Hero Section
*/
section#intro {
  position: relative;
}

section#intro > div {
  display: flex;
  position: relative;
  height: calc(100vh - 58px);
  background: url(https://www.eonclinics.com/wp-content/uploads/2020/03/eon-clinics-hero.png) 0 no-repeat;
  background-size: cover;
  justify-content: center;
  color: #fff;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 1.5s;
  background-position: 70%;
}

#intro h1 {
  align-self: center;
  font-size: 2.55rem;
  font-weight: 600;
  max-width: 860px;
  text-align: center;
  line-height: 1.15;
  margin: -15vh 0 0;
  -webkit-animation: fadeintxt 2.5s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadeintxt 2.5s;
  color: #fff;
  padding: 0 6%;
}

#intro h1 span {
  display: block;
  font-size: .87rem;
}

.hero-jumpto svg {
  margin-top: 1rem;
}




.more-info {
  position: absolute;
  width: 100%;
  font-weight: 600;
  bottom: 5vh;
  padding: 6%;
  box-sizing: border-box;
}

.more-info > div {
  display: flex;
  margin: 0 auto 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 870px;
}

.info-txt {
  font-size: .85rem;
  width: 30%;
  text-align: center;
}



.info-txt .icon + span {
  display: block;
  margin: 0 auto;
}

.info-txt a {
  display: inline-block;
  color: #fff;
  line-height: 1.2;
}



/*
  Animations
*/
.floating {  
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


/* fade in hero */
@keyframes fadein {
  0% { opacity: 0; }
  40% { opacity: 0; }
  80%   { opacity: 1; }
  100%   { opacity: 1; }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  40% { opacity: 0; }
  80%   { opacity: 1; }
  100%   { opacity: 1; }

}

/* fade in hero txt */
@keyframes fadeintxt {
  0% { opacity: 0; }
  33.5% { opacity: 0; }
  100%   { opacity: 1; }
}
@-webkit-keyframes fadeintxt {
  0% { opacity: 0; }
  33.5% { opacity: 0; }
  100%   { opacity: 1; }
}

@keyframes floating {
  from { transform: translate(0,  -5px); }
  65%  { transform: translate(0, 10px); }
  to   { transform: translate(0, -5px); }    
}


@media (min-width: 768px) {

  .icon-calendar {
    width: 58px;
  }
  .icon-dots {
    width: 44px;
  }

  .icon-zero {
    width: 37px;
  }

  #intro h1 {
    font-size: 4rem;
    margin-top: -10vh;
    width: 70%;
    padding: 0;
  }

  #intro h1 span {
    font-size: 1.15rem;
  }

  .more-info {
    padding: 0;
  }

  .more-info > div {
    width: 80%;
  }

  .info-txt {
    width: 25%;
    font-size: 1.2rem;
  }

  .info-txt .icon + span {
    max-width: 80%;
  }

  svg.icon {
    margin-bottom: 30px;
  }
}


@media (min-width: 1024px) {
  #intro h1 {
    max-width: 820px;
  }

  section#intro > div {
    background-position: top center;
  }
}








/*
  Default/reusable section styles
*/
.section-container {
  position: relative;
  margin: 0 auto;
  max-width: 1410px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.center-elem {
  margin: 0 auto;
}

.sect-hdr-txt {
  font-size: 2.15rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.82rem;
}

@media (min-width: 768px) {
  .sect-hdr-txt {
    font-size: 2.5rem;
  }

  .section-container {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .sect-hdr-txt {
    font-size: 2.88rem;
  }
}

.sect-hdr2-txt {
  margin: 0;
  font-weight: 600;
  font-size: 1.24rem;
}

.full-width {
  width: 100%;
}

ul {
  padding-left: 1.2rem;
}

.max-930 {
  max-width: 930px;
}

.mobile-side-padding {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 768px) {
  .mobile-side-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .tablet-side-padding {
    padding-left: 15.75%;
    padding-right: 15.75%;
  }
}

@media (min-width: 1024px) {
  .tablet-side-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .laptop-side-padding {
    padding-left: 5%;
    padding-right: 5%;
  }
}


#home-payment-opts h1,
#home-personal-treatments h1 {
  color: #19325D;
}

#home-lifetime-implants,
#home-testimonial,
#home-confidence-cta {
  background: #19325D;
}

figure {
  margin: 0;
}

p {
  margin: 0 0 2.5rem;
}

li,
p {
  font-size: 1.125rem;
  line-height: 1.8;
}

.btn {
  display: inline-block;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
}

.btn.primary {
  background: #F77700;
  color: #fff;
  font-size: 1.12rem;
  border-bottom: 5px solid #C15B01;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






/*
  Home Payment Opts
*/
#home-payment-opts .section-container p {
  margin-bottom: 0;
}

.plans-offered {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .plans-offered {
    padding-bottom: 4.5rem;
  }
}

.payment-opts a {
  color: #0359A0;
}

#home-payment-opts a.cta {
  font-size: 1.12rem;
  font-weight: 600;
}

.eon-front-entrance {
  margin-bottom: 2rem;
}


.plans-offered header {
  margin-bottom: 1.8rem;
}

.plans-offered .sect-hdr-txt {
  margin-bottom: 0;
  color: #19325D;
}

@media (min-width: 768px) {
  .plans-offered {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #home-payment-opts .plans-offered {
    padding-bottom: 7rem;
  }

  .accept-payments {
    display: flex;
    justify-content: space-between;
  }

  .eon-front-entrance {
    width: 57%;
    margin-bottom: 2rem;
  }
  
  .payment-opts {
    width: 32%;
  }
}





/*
  Home Lifetime Implants
*/


#home-lifetime-implants {
  color: #fff;
}

#home-lifetime-implants .icon {
  display: block;
  margin: 0 auto 2.5rem;
  width: 3.7rem;
}

#home-lifetime-implants header {
  margin-bottom: 3.3rem;
}

#home-lifetime-implants .sect-hdr-txt {
  margin-bottom: 0;
}

#home-lifetime-implants h2 {
  margin-bottom: .5rem;
}

#home-lifetime-implants .benefit {
  margin-bottom: 3.1rem;
}

#home-lifetime-implants .benefit:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #home-lifetime-implants .section-container {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  #home-lifetime-implants header {
    margin-bottom: 4rem;
    max-width: 520px;
  }
  #home-lifetime-implants .icon {
    width: 4.4rem;
    min-height: 92.41px;
  }

  #home-lifetime-implants .sect-hdr-txt {
    display: inline;
  }

  .implant-benefits {
    display: flex;
    justify-content: space-between;
  }

  .implant-benefits .benefit {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  #home-lifetime-implants header {
    max-width: 930px;
  }

  #home-lifetime-implants .sect-hdr-txt {
    display: block;
  }
}



/*
  Home Testimonial
*/
#home-testimonial {
  color: #fff;
}

#home-testimonial iframe {
  width: 100%;
  box-sizing: border-box;
}

#home-testimonial blockquote {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.testimonial .quote {
  margin: 0 auto 2rem;
  width: 1.8rem;
  height: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 1.17rem;
}

.testimonial .quote svg {
  fill: #fff;
}

.testimonial .section-container {
  padding-bottom: 0;
}

.testimonial-video {
  background:#19325D;
  background: linear-gradient(180deg, rgba(25,50,93,1) 0%, rgba(25,50,93,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}



@media (min-width: 768px) {
  .testimonial .section-container,
  .testimonial-video .section-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1024px) {
  .testimonial .quote {
    width: 2.2rem;
    padding: 1.6rem;
  }

  .testimonial .section-container {
    padding-left: 0;
    padding-right: 0;
  }
}







/*
  Home Patient Info
*/

#home-patient-info h1,
#home-patient-info a {
  color: #19325D;
}

#home-patient-info h1 {
  text-align: center;
}

.helpful-ctas p {
  font-size: 1.37rem;
  line-height: 1.4;
}

.helpful-ctas img {
  margin-bottom: 20px;
}

#home-patient-info .section-container {
  padding-top: 0;
  margin-top: -1.2rem;
}

@media (min-width: 768px) {
  #home-patient-info h1 {
    margin-top: -3rem;
    margin-bottom: 4.2rem;
  }
  
  #home-patient-info .section-container {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 4.2rem;
  }

  .helpful-ctas {
    display: flex;
    justify-content: space-between;
  }

  .helpful-ctas > div {
    width: 47%;
  }

  .helpful-ctas img {
    margin-bottom: 2rem;
  }

  .helpful-ctas p {
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .helpful-ctas p {
    font-size: 2.13rem;
  }
  
  #home-patient-info .section-container {
    padding-top: 5.2rem;
  }
}




#home-confidence-cta h1 {
  color: #fff;
}




/*
  Home Personal Treatments
*/
#home-personal-treatments .section-container {
  padding-top: 0;
}

.treatment-visuals {
  position: relative;
  margin-bottom: 2rem;
}

.carousel-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-nav svg {
  fill: #183059;
  width: 1.5rem;
  height: auto;
}

.carousel .laptop-img {
  display: none;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next,
.carousel-next,
.carousel-prev {
  position: absolute;
  z-index: 1;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next,
.carousel-next,
.carousel-prev {
  top: 23%;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  opacity: .01;
  font-size: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -1.25rem;
  border: none;
}

.carousel-prev,
.carousel-next {
  margin-top: -.3rem;
}

.carousel-prev {
  left: .6rem;
  transform: rotate(.25turn);
}

.carousel-next {
  right: .6rem;
  transform: rotate(-.25turn);
}

.slick-arrow.slick-prev {
  left: .2rem;
}

.slick-arrow.slick-next {
  right: .2rem;
}

.carousel {
  padding: 2.4rem 0;
  background: #F4F6F8;
}

.carousel figure {
  padding-left: 14%;
  padding-right: 14%;
}

.carousel figure img {
  margin-bottom: 3rem;
}

.carousel figure p {
  margin-bottom: 0;
  font-size: 1rem;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 1.7rem 0 0;
}

.slick-dots li {
  border-radius: 50%;
  border: 2px solid #19325D;
  width: .63rem;
  height: .63rem;
  margin: 0 .72rem;
  font-size: 0;
}

.slick-dots li.slick-active {
  background: #19325D;
}

#home-personal-treatments .btn.primary {
  width: 17.25rem;
}

@media (min-width: 768px) {
  #home-personal-treatments header {
    margin-top: 5rem;
  }

  .carousel figure img {
    width: 84%;
    margin: 0 auto 3rem;
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next,
  .carousel-next,
  .carousel-prev {
    top: 33%;
  }

  .carousel-prev {
    left: 1rem;
  }
  
  .carousel-next {
    right: 1rem;
  }
  
  .slick-arrow.slick-prev {
    left: .5rem;
  }
  
  .slick-arrow.slick-next {
    right: .5rem;
  }
}

@media (min-width: 1024px) {
  #home-personal-treatments > .section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 7.3rem;
  }

  #home-personal-treatments header {
    margin-top: 0;
  }

  .treatment-visuals .sect-hdr2-txt {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .treatment-visuals {
    width: 50%;
    margin-top: 5rem;
  }
  
  .treatment-cost {
    width: 39%;
  }

  .carousel {
    padding: 5rem 0 3.6rem;
  }

  .carousel-prev {
    left: 1.4rem;
  }
  
  .carousel-next {
    right: 1.4rem;
  }
  
  .slick-arrow.slick-prev {
    left: .9rem;
  }
  
  .slick-arrow.slick-next {
    right: .9rem;
  }

  .carousel-nav svg {
    fill: #183059;
    width: 1.635rem;
    height: auto;
  }

  .carousel .laptop-img {
    display: block;
  }

  .carousel .mobile-img {
    display: none;
  }
}

@media (min-width: 1400px) {
  .treatment-visuals {
    width: 57%;
  }
  
  .treatment-cost {
    width: 32%;
  }

  
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next,
  .carousel-next,
  .carousel-prev {
    top: 48%;
  }

  .carousel-prev {
    left: 2.1rem;
  }
  
  .carousel-next {
    right: 2.1rem;
  }
  
  .slick-arrow.slick-prev {
    left: 1.6rem;
  }
  
  .slick-arrow.slick-next {
    right: 1.6rem;
  }
}

.treatment-cost header p:last-child {
  margin-bottom: 0;
}

.procedure-costs {
  width: 100%;
}

.procedure-costs th {
  display: none;
}

.procedure-costs td {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.procedure-costs td:last-child {
  margin-bottom: 0;
}

.procedure-costs tr {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #D5DAE2;
}

.procedure-costs tr:first-child {
  display: none;
}

.procedure-costs tr:last-child,
.procedure-costs tr:first-child {
  border-bottom: none;
}

.procedure-costs span.cell-label {
  font-size: .81rem;
}

.procedure-costs span.procedure-type {
  font-size: 1.13rem;
  font-weight: 600;
}

.procedure-costs td span {
  display: block;
}



@media (min-width: 768px) {
  .procedure-costs {
    padding-top: 1.5rem;
  }

  .procedure-costs th {
    display: table-cell;
    text-align: left;
    font-size: .81rem;
    font-weight: normal;
  }

  .procedure-costs tr,
  .procedure-costs tr:first-child {
    display: table-row;
  }

  .procedure-costs td {
    display: table-cell;
    width: auto;
    padding: 1.4rem 0;
    border-bottom: 1px solid #D5DAE2;
  }

  .procedure-costs td:last-child,
  .procedure-costs th:last-child {
    text-align: right;
  }

  .procedure-costs span.cell-label {
    display: none;
  }

  .procedure-costs tr:last-child td {
    border-bottom: none;
  }
}




.ready-to-smile {
  text-align: center;
}

@media (min-width: 768px) {
  .ready-to-smile .sect-hdr-txt {
    font-size: 2.87rem;
  }
}

@media (min-width: 1024px) {
  #home-confidence-cta .section-container {
    padding: 7.3rem 0;
  }
}


