
  /*
        ICONS
  */
  svg.icon {
    display: inline-block;
    fill: white;
  }
  
  .icon-calendar {
    width: 38px;
  }
  
  .icon-dots {
    width: 34px;
  }
  
  .icon-zero {
    width: 26px;
  }
  
  .more-info .icon {
    font-weight: 900;
    color: #fff;
  }
  
  .icon-chevron {
    display: block;
    margin: 30px auto 0;
    width: 30px;
  }
  
  .icon-chevron svg {
    width: 100%;
    fill: white;
  }
  svg.icon {
    margin-bottom: 15px;
  }
  