.wp-block-button__link {
  border: none;
  border-radius: 28px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  color: #fff;
}


.button-schedulecta-eon,
.wp-block-button__link {
  box-shadow: 0 4px #c15b01;
  background-color: #f77700;
  border-radius: 5px;
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}

.button-get-directions {
  box-shadow: 0 4px #a97f0a;
  background-color: #f7b700;
  border-radius: 5px;
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}