.faqs.accordion {
  padding-left: 0;

  li {
    list-style: none;
    border-bottom: 1px solid #D5DAE2;
  }

  a.toggle {
    position: relative;
    display: block;
    color: $primary-dark-blue;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.6rem 2rem 1.6rem 0;

    .icon-chevron {
      position: absolute;
      right: 0;
      top: 50%;
      margin: -23px 0 0 0;

      svg {
        fill: $secondary-blue;
        transform: rotate(-90deg);
      }
    }

    &.shown .icon-chevron svg {
      transform: none;
    }
  }

  .inner {
    overflow: hidden;
    display: none;

    &.show {
      padding-bottom: 1.6rem;
    }
  }
}