#gform_4,
#gform_12 {

  .gform_body,
  .gform_footer {
    background-color: #28548A;
    margin-top: 0;
  }

  .gform_footer {
    padding: 30px 30px 40px;
    margin-top: -12px;
  }
}

.gform_wrapper {
  ul {
    li:after,
    li:before,
    .gform_fields {
      padding: 0;
      margin: 0;
      overflow: visible;
    }
  }
  
  .top_label .gfield_label,
  legend.gfield_label {
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 1.3;
    clear: both;
  }

  .gfield_required {
    display: none;
  }
}

#gform_fields_4 input,
#input_4_25,
#gform_fields_12 input,
#input_12_25 {
  font-size: 15px;
  line-height: 1;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
}


#gform_fields_4,
#gform_fields_12 {
  padding: 5px 15px 0 30px;

  label {
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  .ginput_container {
    margin-top: 0;
  }
}



#gform_submit_button_4,
#gform_submit_button_12,
#gform_submit_button_9 {
  background-color: #eddf70;
  border: 2px solid #d1bc1d;
  border-radius: 4px;
  font-weight: 700;
  padding: 7px 15px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 641px) {
  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 16px;
  }
}

.nav-progress {
  display: table;
  font-weight: 700;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: 2px solid gray;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  > div {
    position: relative;
    display: table-cell;
    padding: 12px 0;
    color: #686868;
    text-align: center;
    text-indent: 12px;
    font-size: 1em;
    line-height: 1em;
  }

   > div.complete {
    background-color: #efe9a2;
    color: #333333;

    .arrow {
      border: 2px solid gray!important;
      background: #efe9a2!important;
    }
  }
  p {
    margin: 0;
  }
}

.bar {
  width: 33%;
}

.arrow-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;

  .arrow-cover {
    position: absolute;
    overflow: hidden;
    width: 24px;
    height: 50px;

    .arrow {
      position: absolute;
      left: -34px;
      z-index: 2;
      width: 50px;
      height: 50px;
      border: 2px solid gray;
      background: white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
  }
  }
}