.site-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  box-shadow: 0px 1px 6px #00000029;
  height: 75px;

  .site-branding {
	margin-left: 30px;

	.site-title,
	.site-description {
	  display: none;
	}

	.custom-logo {
	  width: 240px;
	}
  }

  .main-navigation {
	flex-grow: 1;
	text-align: right;
	margin-right: 30px;

	.menu-main-menu-container {
	  display: none;

	  &.is-active {
		display: inline-block;

		@media (max-width: 1280px) {
		  .menu {
			flex-direction: column;
			background-color: #fff;
			position: absolute;
			top: 76px;
			left: 0;
			right: 0;
			text-align: left;

			a {
			  background-color: rgba(0,0,0,.04);
			  color: #383838;
			  pointer-events: none;
			  width: 100%;
			  padding: 5px 20px;
			  display: inline-block;
			}

			.sub-menu {
			  position: static;
			  opacity: 1;
			  box-shadow: none;
			  padding: 0;

			  a {
				background-color: #fff;
				color: #003da5;
			  }
			}
		  }
		}
	  }

	  ul.menu {
		padding-left: 0;
		margin: 0;
		display: flex;

		li {
		  list-style: none;
		}
	  }
	}

	@media (min-width: 1280px) {
	  .menu-toggle {
		display: none;
	  }

	  .menu-main-menu-container {
		display: inline-block;
	  }
	}

	.menu-item {
	  font-size: 15px;
	  font-weight: 600;
	  position: relative;

	  &:hover {
		.sub-menu {
		  opacity: 1;
		}
	  }

	  // Schedule Free Consultation
	  &:last-child {
		padding-right: 0;

		a {
		  background-color: #F77700;
		  border-radius: 5px;
		  padding: 6px 20px;
		  color: #fff;
		  font-weight: 800;
		  font-size: 16px;
		  box-shadow: 0 3px #C15B01;

		}
	  }

	  a {
		padding: 30px 20px;
		color: #555;
		transition: color 0.3s;

		&:hover {
		  color: #3a3a3a;
		}

		// Telephone Link
		&[href*=tel] {
		  color: #0359A0;
		}
	  }
	}

	.sub-menu {
	  opacity: 0;
	  position: absolute;
	  top: 54px;
	  left: 0;
	  background-color: #fff;
	  border-radius: 5px;
	  padding: 20px 0;
	  box-shadow: 0 1px 6px #00000029;
	  transition: opacity 0.3s;
	  text-align: left;

	  .menu-item {
		padding: 0 20px;

		a {
		  white-space: nowrap;
		  padding: 6px 20px;
		  line-height: 2.9em;
		  font-weight: 500;
		  color: #003da5;
		  transition: color 0.3s;

		  &:hover {
			color: #000;
		  }
		}

		&:last-child {
		  a {
			background-color: inherit;
			box-shadow: none;
			color: inherit;
			font-weight: normal;
			color: #003da5;
			padding: 6px 20px;
			font-size: 15px;
			border-radius: 0;

			&:hover {
			  color: #000;
			}
		  }
		}
	  }
	}

  }
}

.logged-in {
  .site-header {
	top: 32px;
  }
}
