.pre-footer-content {
  text-align: center;

  h1 {
    color: #fff;
  }
  
  .btn.primary {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .pre-footer-content .sect-hdr-txt {
    font-size: 2.875rem;
  }
}

@media (min-width: 1024px) {
  .pre-footer-cta .section-container {
    padding: 7.3rem 0;
  }
}