.skip-link {
  background: rgb(25, 50, 93);
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s, left 0.3s;
  color: #fff;
  font-weight: bold;
  top: 20px;
  z-index: 2;

  &:focus {
	transform: translateY(0%);
  }

  @media (min-width: 1280px) {
	left: 25%;
  }
}

.logged-in {
  .skip-link {
	&:focus {
	  transform: translateY(100%);
	}
  }
}
