.page-template-flexible-template {

  &.page-id-1802 {
    #generic-page-template > header {
      background-size: cover;

      h1 {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}