.page-template-flexible-template {
  #generic-page-template {
    > header {
      background-repeat: no-repeat;
      background-image:  url(https://eoncdev.wpengine.com/wp-content/uploads/2019/09/white-background-1-vector.jpg);
      background-position: top right;
      margin-bottom: 0;
  
      > div {
        h1,
        h2 {
          max-width: 50%;
          font-weight: normal;
        }
  
        h1 {
          font-size: 2.5rem;;
        }
  
        h2 {
          font-size: 1.2rem;
          color: rgba(0,0,0,.35);
        }
  
        p {
          max-width: 60%;
        }
  
        img {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20%;
          height: auto;
        }
      }
    }

    .one-col-layout {
      .gform_page_fields,
      .gform_fields {
        li#field_1_14,
        li#field_5_15 {
          margin-left: 0 !important;
          width: auto;
  
          h4 {
            color: #007c74;
            font-weight: normal;
            font-size: 1.6rem;
          }
        }

        .sell-all-apply {
          font-style: italic;
        }

        input[type=radio],
        input[type=checkbox] {
          width: 25px;
          height: 25px;
          margin-top: 0;
        }
      }

      .gform_page_footer,
      .gform_footer {
        border-top: none;
        text-align: center;

        .button.gform_next_button,
        .gform_button.button {
          border: 2px solid #d1bc1d;
          background-color: #eddf70;
          border-radius: 4px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 7px 15px;
        }
      }

      .sub-prog-bar-text {
        color: #007c74;
        font-weight: normal;
        font-size: 1.2rem;
      }
    }
  }

  img.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
  }
  
  h1 {
    font-size: 2.6rem;
    font-weight: normal;
  }

  h2 {
    line-height: 1.5em;
    font-size: 1.8em;
    font-weight: normal;
    color: #111;
  }

  &.page-id-171 #generic-page-template > header {
    background-repeat: repeat;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  .outlined-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    &:last-child {
      margin-bottom: 0;
    }

    .outlined-container-icon {
      width: 64px;
    }

    h1 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    .outlined-container-content {
      width: calc(100% - 80px);
    }
  }
}


.page-id-293.page-template-flexible-template {
  .three-col-layout {
    .col img {
      max-width: 70px;
      height: auto;
    }
  }

  .two-col-layout {
    .left-col {
      width: 30%;
    }
    .right-col {
      width: 66%;
    }
  }
}


.page-id-854.page-template-flexible-template {
  .two-col-layout {
    .left-col {
      width: 45%;
    }
    .right-col {
      width: 50%;
    }
  }
}

.page-id-156.page-template-flexible-template {
  .three-col-layout {
    .col {
      padding: 1.4rem;
      box-shadow: 0 40px 60px 0 rgba(0,64,135,.06);

      img {
        max-width: 85px;
        height: auto;
      }
    }
  }
}

.page-id-2843.page-template-flexible-template {
  #generic-page-template > header {
    background-size: cover;
    background-position: center center;

    h2 {
      color: #000;
    }
  }
}

.page-id-1850.page-template-flexible-template table {
  width: 100%;
  margin: 0 0 15px;
  border: 1px solid #eee;
  text-align: left;

  tr {
    max-width: 100%;
    padding: .857em .587em;

    td {
      padding: 6px 24px;
      border-top: 1px solid #eee;
    }
  }
}

.page-id-3073.page-template-flexible-template {
  .left-col {
    width: 27%;
  }

  .right-col {
    width: 70%;
  }
}


//Page URL: https://eoncdev.wpengine.com/the-cost-of-dental-implants
.page-id-171.page-template-flexible-template {

  //Custom checkmark
  .checkbox-li:before{
    content: "\2713";
      font-size: 2em;
      color: #f8b700;
      margin-right: 5px;
      margin-bottom: -15px;
  }

  //Disable list icons *
  .checkbox-li {
    list-style: none;
    line-height: 1;
  }

  h3{
    font-size: 1.57em;
  }

  blockquote {
    border-left: 5px solid;
    border-color: #2ea3f2;
    padding-left: 20px;
  }

  .section-container {
    padding-left: 9%;
    padding-right: 9%;
  }
}