  /*
    Hero Section
  */
  section#intro {
    position: relative;

    > div {
      display: flex;
      position: relative;
      height: calc(100vh - 58px);
      background-image: linear-gradient(rgba(255,255,255,0), rgba(5,10,18,.5)), url(https://www.eonclinics.com/wp-content/uploads/2020/04/eon-clinics-hero.jpg);
      background-size: cover;
      justify-content: center;
      color: #fff;
      -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1.5s;
      background-position: 70%;
  
      @media (min-width: 768px) {
        background-image: linear-gradient(rgba(255,255,255,0), rgba(5,10,18,.3)), url(https://www.eonclinics.com/wp-content/uploads/2020/04/eon-clinics-hero.jpg);
      }

      @media (min-width: 1024px) {
        background-position: top center;
      }
    }
  }
  
  #intro h1 {
    align-self: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.15;
    margin: -15vh 0 0;
    -webkit-animation: fadeintxt 2.5s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadeintxt 2.5s;
    color: #fff;
    padding: 0 6%;

    span {
      display: block;
      font-size: 1rem;
      line-height: 3;

      @media (min-width: 768px) {
        font-size: 1.25rem;
        line-height: 2.65rem;
      }
    }

    @media (min-width: 768px) {
      font-size: 4.625rem;
      margin-top: -15vh;
      width: 70%;
      padding: 0;
    }

    @media (min-width: 1024px) {
      max-width: 960px;
    }
  }
  
  .hero-jumpto svg {
    margin-top: 1rem;
  }
  
  .more-info {
    position: absolute;
    width: 100%;
    font-weight: 600;
    bottom: 0vh;
    padding: 6%;
    box-sizing: border-box;

    > div {
      display: flex;
      margin: 0 auto 10px;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      max-width: 870px;

      @media (min-width: 768px) {
        width: 80%;
      }
    }
  
    @media (min-width: 580px) {
      bottom: 6vh;
    }

    @media(min-width: 768px) {
      padding: 0;
    }
    
  }
  
  .info-txt {
    font-size: 1rem;
    width: 30%;
    text-align: center;

    .icon + span {
      display: block;
      margin: 0 auto;
    }

    a {
      display: inline-block;
      color: #fff;
      line-height: 1.3;
    }
  }
  
  
  
  /*
    Animations
  */
  .floating {  
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  
  /* fade in hero */
  @keyframes fadein {
    0% { opacity: 0; }
    40% { opacity: 0; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
  }
  
  @-webkit-keyframes fadein {
    0% { opacity: 0; }
    40% { opacity: 0; }
    80%   { opacity: 1; }
    100%   { opacity: 1; }
  
  }
  
  /* fade in hero txt */
  @keyframes fadeintxt {
    0% { opacity: 0; }
    33.5% { opacity: 0; }
    100%   { opacity: 1; }
  }
  @-webkit-keyframes fadeintxt {
    0% { opacity: 0; }
    33.5% { opacity: 0; }
    100%   { opacity: 1; }
  }
  
  @keyframes floating {
    from { transform: translate(0,  -5px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -5px); }    
  }
  @media (min-width: 768px) {
    .icon-calendar {
      width: 58px;
    }
    .icon-dots {
      width: 51px;
    }
  
    .icon-zero {
      width: 40px;
    }
    .info-txt {
      width: 25%;
      font-size: 1.25rem;
    }
  
    .info-txt .icon + span {
      max-width: 80%;
    }
  
    svg.icon {
      margin-bottom: 30px;
    }
  }
  
  
  
  /*
    Home Payment Opts
  */
  #home-payment-opts .section-container p {
    margin-bottom: 0;
  }
  
  .plans-offered {
    padding-bottom: 4rem;
  }
  
  .payment-opts a {
    color: #0359A0;
  }
  
  .eon-front-entrance {
    margin-bottom: 3rem;
  }
  
  .plans-offered {
    header {
      margin-bottom: 1.8rem;
    }
    
    .sect-hdr-txt {
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 768px) {
    .plans-offered {
      padding-bottom: 5rem;
    }
    .payment-opts {
      margin: 5rem 0 1rem;
    }
    .eon-front-entrance {
      margin-bottom: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    #home-payment-opts .plans-offered {
      padding-bottom: 4rem;
    }
  
    .accept-payments {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
  
    .eon-front-entrance {
      width: 50%;
      margin-top: 2.4rem;
    }
    
    .payment-opts {
      width: 40%;
      margin: 0;
    }
  }
  
  @media (min-width: 1400px) {
    #home-payment-opts .plans-offered {
      padding-bottom: 6rem;
    }
  
    .eon-front-entrance {
      width: 56%;
      margin-top: 0;
    }
    
    .payment-opts {
      width: 35%;
    }
  }
  
  @media (min-width: 1600px) {
    .eon-front-entrance {
      width: 56%;
      margin-bottom: 2rem;
    }
    
    .payment-opts {
      width: 33%;
      margin-top: 2rem;
    }
  }
  
  
  /*
    Home Lifetime Implants
  */
  
  
  #home-lifetime-implants {
    color: #fff;
  }
  
  #home-lifetime-implants .icon {
    display: block;
    margin: 0 auto 2.5rem;
    width: 3.7rem;
  }
  
  #home-lifetime-implants header {
    margin-bottom: 3.3rem;
  }
  
  #home-lifetime-implants .sect-hdr-txt {
    margin-bottom: 0;
  }
  
  #home-lifetime-implants h2 {
    margin-bottom: .5rem;
  }
  
  #home-lifetime-implants .benefit:last-child{
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    #home-lifetime-implants .section-container {
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 3rem;
    }

    #home-lifetime-implants header {
      margin-bottom: 4rem;
    }

    #home-lifetime-implants .icon {
      width: 4.4rem;
      min-height: 92.41px;
    }
  
    #home-lifetime-implants .sect-hdr-txt {
      display: inline;
    }
  }
  
  @media (min-width: 1024px) {
    #home-lifetime-implants .sect-hdr-txt {
      display: block;
    }
  }

  .implant-benefits {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    
      .benefit {
        width: 30%;
      }
    }

    @media (min-width: 1024px) {
      margin: 0 5.5vw;
    }
  }
  
  
  
  /*
    Home Testimonial
  */
  #home-testimonial {
    color: #fff;
  }
  
  #home-testimonial iframe {
    width: 100%;
    box-sizing: border-box;
  }
  
  #home-testimonial blockquote {
    font-size: 2.125rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    border-left: none;
  }
  
  .testimonial .quote {
    margin: 0 auto 2rem;
    width: 1.8rem;
    height: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 1.17rem;
  }
  
  .testimonial .quote svg {
    fill: #fff;
    margin-top: 4px;
  }
  
  .testimonial p {
    font-size: 1rem;
    text-align: center;
    margin: 1.875rem 0 0;
  }
  
  .testimonial .section-container {
    padding-bottom: 0;
  }
  
  .testimonial-video {
    background:#19325D;
    background: linear-gradient(180deg, rgba(25,50,93,1) 0%, rgba(25,50,93,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  }
  
  
  
  @media (min-width: 768px) {
    .testimonial .section-container,
    .testimonial-video .section-container {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  
  @media (min-width: 1024px) {
    .testimonial .quote {
      width: 2.2rem;
      height: 2.2rem;
      padding: 1.6rem;
    }
  
    .testimonial .section-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  
  
  
  
  
  
  /*
    Home Patient Info
  */
  
  #home-patient-info h1,
  #home-patient-info a {
    color: #19325D;
  }
  
  #home-patient-info h1 {
    text-align: center;
  }
  
  .helpful-ctas p {
    font-size: 1.37rem;
    font-weight: 600;
    line-height: 1.4;
  }
  
  .helpful-ctas img {
    margin-bottom: 20px;
  }
  
  #home-patient-info .section-container {
    padding-top: 0;
    margin-top: -1.2rem;
  }
  
  @media (min-width: 768px) {
    #home-patient-info h1 {
      margin-top: -3rem;
      margin-bottom: 4.2rem;
    }
    
    #home-patient-info .section-container {
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 4.2rem;
    }
  
    .helpful-ctas {
      display: flex;
      justify-content: space-between;
    }
  
    .helpful-ctas > div {
      width: 47%;
    }
  
    .helpful-ctas img {
      margin-bottom: 2rem;
    }
  
    .helpful-ctas p {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
  
  @media (min-width: 1024px) {
    .helpful-ctas p {
      font-size: 2.125rem;
      font-weight: 600;
    }
    
    #home-patient-info .section-container {
      padding-top: 5.2rem;
    }
  }
  
  
  
  
  /*
    Home Personal Treatments
  */
  #home-personal-treatments .section-container {
    padding-top: 0;
  }
  
  .treatment-visuals {
    position: relative;
    margin-bottom: 2rem;
  }
  
  .carousel-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .carousel-nav svg {
    fill: #183059;
    width: 2rem;
    height: auto;
  }
  
  .carousel .laptop-img {
    display: none;
  }
  
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next,
  .carousel-next,
  .carousel-prev {
    position: absolute;
    z-index: 1;
  }
  
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next,
  .carousel-next,
  .carousel-prev {
    top: 25%;
  }
  
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    opacity: .01;
    font-size: 0;
    width: 3rem;
    height: 3rem;
    margin-top: -1.25rem;
    border: none;
  }
  
  .carousel-prev,
  .carousel-next {
    margin-top: -.3rem;
  }
  
  .carousel-prev {
    left: .6rem;
    transform: rotate(.25turn);
  }
  
  .carousel-next {
    right: .6rem;
    transform: rotate(-.25turn);
  }
  
  .slick-arrow.slick-prev {
    left: .2rem;
  }
  
  .slick-arrow.slick-next {
    right: .2rem;
  }
  
  .carousel {
    padding: 2.4rem 0;
    background: #F4F6F8;
  }
  
  .carousel figure {
    padding-left: 14%;
    padding-right: 14%;
  }
  
  .carousel figure img {
    margin-bottom: 3rem;
  }
  
  .carousel figure p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
  }
  
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 1.7rem 0 0;
  }
  
  .slick-dots li {
    border-radius: 50%;
    border: 2px solid #19325D;
    width: .63rem;
    height: .63rem;
    margin: 0 .72rem;
    font-size: 0;
  }
  
  .slick-dots li.slick-active {
    background: #19325D;
  }
  
  @media (min-width: 768px) {
    #home-personal-treatments header {
      margin-top: 5rem;
    }
  
    .treatment-cost {
      margin-bottom: 1rem;
    }
  
    .carousel figure img {
      width: 84%;
      margin: 0 auto 3rem;
    }
  
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next,
    .carousel-next,
    .carousel-prev {
      top: 33%;
    }
  
    .carousel-prev {
      left: 1rem;
    }
    
    .carousel-next {
      right: 1rem;
    }
    
    .slick-arrow.slick-prev {
      left: .5rem;
    }
    
    .slick-arrow.slick-next {
      right: .5rem;
    }
    .carousel .laptop-img {
      display: block;
    }
  
    .carousel .mobile-img {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    #home-personal-treatments > .section-container {
      display: flex;
      justify-content: space-between;
      padding-top: 6rem;
      padding-bottom: 8rem;
    }
  
    #home-personal-treatments header {
      margin-top: 0;
    }
  
    .treatment-visuals .sect-hdr2-txt {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    
    .treatment-visuals {
      width: 50%;
      margin-top: 5.65rem;
    }
    
    .treatment-cost {
      width: 40%;
      margin-bottom: 0;
    }
  
    .carousel {
      padding: 5rem 0 3.6rem;
    }
  
    .carousel-prev {
      left: 1.4rem;
    }
    
    .carousel-next {
      right: 1.4rem;
    }
    
    .slick-arrow.slick-prev {
      left: .9rem;
    }
    
    .slick-arrow.slick-next {
      right: .9rem;
    }
  
    .carousel-nav svg {
      fill: #183059;
      width: 1.635rem;
      height: auto;
    }
  }
  
  @media (min-width: 1400px) {
    .treatment-visuals {
      width: 56%;
      margin-top: 3.65rem;
    }
    
    .treatment-cost {
      width: 35%;
    }
  
    
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next,
    .carousel-next,
    .carousel-prev {
      top: 48%;
    }
  
    .carousel-prev {
      left: 2.1rem;
    }
    
    .carousel-next {
      right: 2.1rem;
    }
    
    .slick-arrow.slick-prev {
      left: 1.6rem;
    }
    
    .slick-arrow.slick-next {
      right: 1.6rem;
    }
  }
  
  .treatment-cost header p:last-child {
    margin-bottom: 0;
  }
  
  .procedure-costs {
    width: 100%;
  }
  
  .procedure-costs th {
    display: none;
  }
  
  .procedure-costs td {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .procedure-costs td:last-child {
    margin-bottom: 0;
  }
  
  .procedure-costs tr {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #D5DAE2;
  }
  
  .procedure-costs tr:first-child {
    display: none;
  }
  
  .procedure-costs tr:last-child,
  .procedure-costs tr:first-child {
    border-bottom: none;
  }
  
  .procedure-costs span.cell-label {
    font-size: .875rem;
    line-height: 2;
  }
  
  .procedure-costs span.procedure-type,
  .procedure-costs span.procedure-cost {
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  .procedure-costs td span {
    display: block;
  }
  
  
  
  @media (min-width: 768px) {
    .procedure-costs {
      padding-top: 1.5rem;
    }
  
    .procedure-costs th {
      display: table-cell;
      text-align: left;
      font-size: .875rem;
      font-weight: normal;
    }
  
    .procedure-costs tr,
    .procedure-costs tr:first-child {
      display: table-row;
    }
  
    .procedure-costs td {
      display: table-cell;
      width: auto;
      padding: 1.4rem 0;
      border-bottom: 1px solid #D5DAE2;
    }

    .procedure-type {
      text-align: left;
    }
  
    .procedure-costs th:last-child,
    .procedure-costs .procedure-cost {
      text-align: right;
    }
  
    .procedure-costs span.cell-label {
      display: none;
    }
  
    .procedure-costs tr:last-child td {
      border-bottom: none;
    }
  }
  