  /*
    Hero Section
  */

.page-template-home-organic-page {
  section#intro > div {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(5,10,18,.5)), url(https://www.eonclinics.com/wp-content/uploads/2020/04/eon-clinics-hero-organic.jpg);
    background-position: 23% center;

    @media (min-width: 768px) { 
      background-image: linear-gradient(rgba(255,255,255,0), rgba(5,10,18,.3)), url(https://www.eonclinics.com/wp-content/uploads/2020/04/eon-clinics-hero-organic.jpg);
      background-position: 5% center;
    }
  }

  .more-info {
    text-align: center;
  }

  #home-personal-treatments img {
    width: 100%;
  }

  #home-lifetime-implants {
    .icon {
      width: 4.6rem;
    }

    .implant-benefits {
      @media (min-width: 768px) {
        margin-bottom: 2rem;
      }
    }

    .section-container {
      @media (min-width: 768px) {
        padding-bottom: 5rem;
      }
    }
  }
}

#home-consider-implants {
  .sect-hdr-txt {
    margin-bottom: 2rem;
  }

  .procedure-costs {
    margin-bottom: 1.6rem;

    span.procedure-type,
    span.procedure-cost {
      font-size: 1.25rem;
    }

    th {
      @media (min-width: 768px) {
        font-size: 1rem;
      }
    }

    @media (min-width: 768px) {
      tr:last-child td {
        border-bottom: 1px solid #D5DAE2;
      }
    }
  }

  ul {
    margin-bottom: 1.5rem;
  }
}

#faqs-overview {
  .section-container {
    max-width: 1170px;

    @media (min-width: 768px) {
      .sect-hdr-txt {
        text-align: center;
      }
    }
  }
}