// skokie
.page-template-flexible-template {

  &.page-id-2786 {
    #generic-page-template .section-container {
      &:first-child {
        padding-bottom: 0;
      }
      &:last-child {
        padding-top: 0;
      }
    }
  }
}
